{% load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <title>{% block title %}CRUD APP{% endblock %}</title>
    
    {% block stylesheet %}

    

    {% endblock %}
</head>
<body>
    

    {% block content %}
    
    {% endblock %}

    

    {% block script %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
    {% endblock %}


</body>
</html>
    
    