    
.fld1{
    width: 20px;
    height: 500px;
    background-color: #42f590;
    border: none;
    width:30%;
    float: left;
    text-align: center;
    margin-left: 30px;
    margin-top: 50px;
    
}


.centr input{
    margin-top: 30px;
   

}

.centr{
    text-align: center;
}
.addr_input{
    height: 100px;
    margin-left: 16px;
    
}
.btnsave , .update{
    margin-left: 230px;
    margin-top: 50px;
    width: 100px;
}


.fld2{
    width: 65%;
    height: 500px;
    background-color: #42f590;
    border: none;
    float: right;
    margin-right: 30px;
    margin-top: 50px;
    
}
table, th {
    
    border-collapse: collapse;
    
}


td, th{
    text-align: center;
    width: 10px;
    height: 50px;
}
tr th{
    text-align: center;
    
}
#btndelete{
    background-color: red;
    color: white;
    width: 60px;
}
#btnsave , #update{
    
    background-color: blue;
    color: white;
}
#btnedit{
    background-color: skyblue;
    width: 50px;
    margin: auto;
    color: white;
}
#btn_update{
    background-color: green;
    color: white;
    width: 60px;
}
body{
    background-color: #42f5c2;
}
.table2{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 90%
}
input{
    width: 150px;
}


