body{
    background-color: wheat;
}
table{
    width: 70%;
    float: right;
    text-align: center;
    margin-right: 1%;
    
}
form{
    width: 20%;
    float: left;
    margin-left: 2%;
}
th{
    height: 50px;
}
